<h1>Events</h1>

<p class="description">
	These are raw event details. To see them in a graph, create a metric to track them and a report to display the metric.
</p>

<ul id="event_list" class="primary_list">
	<% for type_group in @groups do %>
		<li>
			<%= link_to event_path(:id => type_group[:event_type]) do %>
				<h3><%= type_group[:event_type] %></h3>
				<p>
					<span>Times: <%=  type_group[:count] %></span>
					<span>Most recently at <%= type_group[:most_recent].strftime("%Y-%m-%d %H:%M") %></span>
				</p>
			<% end %>
		</li>
	<% end %>		
</ul>
