<!DOCTYPE html>
<html>
<head>
  <title>IWonder</title>
  <%= stylesheet_link_tag    "i_wonder/application" %>
  <%= javascript_include_tag "i_wonder/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
