/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import "_shared.css.scss";


pre { padding: 20px; border:1px solid $light_blue_box_border; background-color:$light_blue_box_background; text-align:left; display:inline-block;}

#unused_form_elements {display:none;}