/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import "_shared.css.scss";

form.report {
  
  #new_metric_button {float:right;}
  .nested_metric_form {border:1px solid $light_blue_box_border; padding:5px; margin:5px 0; background-color:#fff;
    label {width:95px;}
    textarea {margin:10px 0 10px 20px;}
  }
  
  .report_metric_ids { padding:0px; margin:10px 0;
    li {padding:0px; margin:0px; list-style:none;}
  }
}