<div class="show">
	<p>
		<%= link_to "Edit", url_for(:action => :edit, :id => @report.id) %>
		|
		<%= link_to "Delete", url_for(:action => :destroy, :id => @report.id), :method => :delete, :confirm => "Are you sure?" %>
	</p>
	
	<% if @report.line? %>
		<%= render "line_report" %>
	<% end %>
	
	<p class="description">
		<%= @report.description.present? ? @report.description : "no description..."%>
	</p>
	
</div>