<p>
	This test hasn't started yet. Use the following code in a controller or view to begin:
</p>

<br/>
<p class="description">You can use the group name directly:</p>
<pre>&lt;%= which_test_group?("<%= @ab_test.sym %>") %&gt;</pre>

<p class="description">or run through different scenarios:</p>

<pre>
case which_test_group?("<%= @ab_test.sym %>")
<% for option_name in @ab_test.test_group_names -%>
when "<%= option_name%>"
	...
<% end -%>
else
	"Test Not Found"
end
</pre>